@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500&family=Poppins:wght@100;200;300;400;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

html{
    scroll-behavior: smooth;
}
body{
    color: white;
    font-family:"open-sans" ;
}

#welcome-sec{

    background-image: url(img/main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 70px;

}
header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a:hover{
    color: black;
    text-shadow: 2px 2px 20px white;
    transition: all 0.5;
}

header nav {
    display: flex;
    gap: 40px;
}

header nav a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.3s;
    text-shadow: 0.5s;
}

header img{
    width: 150px;
    
}


section{
    height: 100vh;
    
}

.welcome-text{
    
    width: 90 vw;
    margin: 300px auto;
}


.welcome-text h1{
    font-size: 80px;
    text-align: center;
}

.welcome-text p {
    font-size: 24px;
    text-align: center;
    max-width: 700px;
    margin: 100px auto;
}

/*hakk覺nda k覺sm覺*/

#about{
    background-color: black;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.about-text{
    max-width: 600px;
}

.about-text h1{
    
    font-size: 75px;
    line-height: 80px;
    font-weight: 600;

}

.about-text p{
   margin-top: 50px;
    font-family:'poppins';
}

.about-text p span{
    border-bottom: 1px solid red;
}
#about img{
    max-width: 600px;
    max-height: 600px;

}


/* BATTLE ALANI */

#battle{
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.215) 0%, black 60%),
    url(/img/sec-2.jpg);
    background-position: center;
    background-size: cover;
    
}


.heading{
    padding-top: 100px;

}

.heading h5{
    font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.heading h1{
    font-size: 70px;
    text-align: center;
    font-weight: 500;

}

.boxes{
    width: 620px;
    height: 500px;
    
    margin: 50px auto 50px auto ;

    display: flex;
    flex-wrap: wrap;
}


.box{
    width: 300px;
    height: 130px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-family: 'open-sans';
}

.box:last-child{
    width: 600px;
}

.box p{
    font-size: 20px;
}

.box h1{
    color: crimson;
}

/* fikirler alan覺*/
 #opinions {
    background-image: url(img/sec-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120vw;

    display: flex;
    justify-content: space-between;

    padding: 100px;
 }

 .opinions-text{
    
    max-width: 470px;
    font-family: "poppins";
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

 }

 .opinions-text h1{
    font-size: 80px;

 }
 .opinions-text p {
    font-size: 19px;

 }
 .opinions-text button{
    padding: 10px;
    background-color: red;
    font-weight: 600;
    transition: color 0.4s, background-color 0.4s;
    border-radius: 5px;
    margin-top: 40px;
    width: 200px;
    cursor: pointer;

 }

 .opinions-text button:hover{
    background-color: black;
    color: red;
    transition: all 0.5s;
 }


 .cards{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 70px;
    justify-content: center;
    margin-right: 50px;

 }
 .card{
    width: 450px;
    background-color: rgb(47, 47, 47);
    border-radius: 10px;
    font-family: "poppins";
    padding: 5px;
    
    
 }

 .card:nth-child(2){
    align-self: flex-start;
 }
 .user{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 20px;

 }


 .user-info h1{
    color: crimson;
 }


 .gray{
    color: gray;
 }


 @media (max-width: 1100px) {
    #about {
        flex-direction: column;
        gap: 50px;

    }

    .about-text h1 {
        font-size: 40px;

    
    }

    .about-text p{
        margin-top: 20px;
    }

    #about img{
        width: 350px;

    }
    #opinions{
        flex-direction: column;
    }
    .opinions-text{
        margin: 0 auto;

    }
    .cards{
        gap: 10px;
        margin: 0 auto;
    }
 }